<div class="container">

  <h1>Favourites Index</h1>

  <%= link_to 'Home', cars_path %>

  <ul>
    <% @favourites.each do |fav| %>
      <% if !fav.car.nil? %>
      <li><%= fav.car.brand %> <%= fav.car.model %> | <%= link_to "Remove", favourite_path(fav), data: { turbo_method: :delete } %></li>
      <% end %>
    <% end %>
  </ul>

</div>
